
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>bodi Page</title>
    <style>
    .rounded-img {
      border-radius: 25px; 
      box-shadow: 0px 8px 20px rgba(0,0,0,0.5); 

    }
  </style>
</head>
<body style="text-align:center; margin-top:50px;">
    

    <h1>Welcome to Bodinayakanur</h1>

<center><img src="https://image-worker.mindtrip.ai/image-resize/format=webp,w=720/https:/iorigin.mindtrip.ai/locations/59fe/2daf/599e/dc19/54ce/6a6f/244c/7d9a" height="350" width=500
    alt="Curved Image"
       class="rounded-img"
       width="720">
</center>
<p>Bodinayakanur, often called Bodi, is a scenic town in the Theni district of Tamil Nadu, nestled at the foothills of the Western Ghats. Surrounded by lush green hills, tea estates, and spice plantations, it is well known as the “Cardamom Capital of India.” The town serves as a gateway to the hill station of Munnar in Kerala, making it an important route for travelers. With its rich agricultural traditions, cool climate, and breathtaking landscapes, Bodinayakanur beautifully blends natural beauty with cultural heritage, attracting visitors who seek peace and nature’s charm.</p>
   
</body>
</html>

        