
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>bodi Page</title>
    <style>
    .rounded-img {
      border-radius: 25px; 
      box-shadow: 0px 8px 20px rgba(0,0,0,0.5); 

    }
  </style>
</head>
<body style="text-align:center; margin-top:50px;">
    

    <h1>Welcome to Boothipuram</h1>

<center><img src="https://thumbs.dreamstime.com/b/bodi-mettu-highest-peak-south-india-bodimettu-locality-theni-district-state-tamil-nadu-india-near-148391729.jpg" height="350" width=500
    alt="Curved Image"
       class="rounded-img"
       width="720">
</center>
<p>Boothipuram is a charming town situated in the Theni district of Tamil Nadu, known for its scenic surroundings and agricultural richness. Nestled near the foothills of the Western Ghats, Boothipuram is surrounded by lush fields, plantations, and small streams that contribute to its natural beauty. The town has a strong local culture, with traditional festivals and community activities that reflect the heritage of the region. Its serene atmosphere, combined with picturesque landscapes, makes Boothipuram a peaceful destination for visitors seeking nature and a glimpse of rural life in Tamil Nadu.</p>   
</body>
</html>

        