
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>bodi Page</title>
    <style>
    .rounded-img {
      border-radius: 25px; 
      box-shadow: 0px 8px 20px rgba(0,0,0,0.5); 

    }
  </style>
</head>
<body style="text-align:center; margin-top:50px;">
    

    <h1>Welcome to Meenachipuram</h1>

<center><img src="https://i.ytimg.com/vi/JhcZvmZpv-o/maxresdefault.jpg" height="350" width=500
    alt="Curved Image"
       class="rounded-img"
       width="720">
</center>
<p>Meenachipuram is a peaceful and picturesque village located in the Theni district of Tamil Nadu. Surrounded by fertile lands, rivers, and the foothills of the Western Ghats, it is known for its lush greenery and traditional agricultural practices. The village is rich in culture and local traditions, with vibrant festivals and community gatherings that showcase the heritage of the region. Meenachipuram offers a serene environment for visitors, making it an ideal place to experience the natural beauty and calm lifestyle of rural Tamil Nadu.</p>
   
</body>
</html>

        