
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>bodi Page</title>
    <style>
    .rounded-img {
      border-radius: 25px; 
      box-shadow: 0px 8px 20px rgba(0,0,0,0.5); 

    }
  </style>
</head>
<body style="text-align:center; margin-top:50px;">
    

    <h1>Welcome to Virapandi</h1>

<center><img src="https://vushii.com/uploads/896517058_Veerapandi%20River.jpg" height="350" width=500
    alt="Curved Image"
       class="rounded-img"
       width="720">
</center>
<p>Virapandi is a vibrant village in the Theni district of Tamil Nadu, known for its fertile lands and traditional agricultural practices. Surrounded by rolling hills and lush greenery, the village thrives on cultivation of crops such as cotton, sugarcane, and various vegetables. Virapandi is rich in local culture, with colorful festivals, temple celebrations, and community gatherings that reflect the heritage of the region. Its serene environment, combined with the warmth of its people, makes Virapandi a peaceful and charming place to experience rural life in Tamil Nadu.</p>   
</body>
</html>

        